.container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.square {
  width: 160px;
  height: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: sans-serif;
  border: 1px solid;
  margin: 0px;
  animation-name: mover;
  animation-delay: 1s;
}

@keyframes mover {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #000;
  color: white;
}
